{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Herzlich Willkommen
{% endblock %}

{% block content %}

<p>
    Sie erhalten 5 Euro für die Teilnahme an diesem Experiment.
    Zusätzlich können Sie noch Geld gewinnen.
    Das Experiment dauert ca 90 Minuten.
</p>

<p>
    Das Ziel dieses Experiments ist es zu verstehen wie Sie verschiedene unsichere Szenarien bewerten
    und welche Auszahlungen Sie präferieren.
    Vielen Dank für die Teilnahme an diesem Experiment.
    Ohne Teilnehmer wie Sie wäre unsere Forschung nicht möglich.
</p>

<p>
    Wir möchten daran erinnern, dass Komunikation verboten ist.
    Sollten Sie während des Experiments das Handy benutzen oder sprechen, müssen wir Sie leider bitten den
    Raum zu verlassen. In diesem Fall, können wir Ihnen keine Vergütung zahlen.
</p>

<!--
<p>
    Sie haben für jede Runde ein fixes Zeitlimit. Falls es knapp wird, sehen Sie den Timer.
    Die Zeit ist großzügig bemessen, beantworten Sie die Fragen also in Ruhe.
</p>-->

<p>
    Sollten Sie während des Experiments Fragen oder Probleme haben, heben Sie bitte die Hand und warten bis
    der Experimentleiter zu Ihnen kommt.
</p>

<p>
    Bitte warten Sie.
</p>



{% endblock %}
