{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ergebnisse: Der DAX und die Urne
{% endblock %}

{% block content %}
    <font color="grey">
      <p> Zunächst beschreiben wir die unsicheren Ereignisse im Detail.</p>

    <p><b> Zusammenarbeit des anderen Teilnehmers </b></p>

    <p>
        Am Anfang des Experiments waren Sie und ein anderer Teilnehmer in einem Dilemma.
        Ihnen ist nicht bekannt wie sich der andere Spieler entschieden hat.
        Wir betrachten, ob der andere Teilnehmer <b> Zusammenarbeit </b> oder den <b> Alleingang </b> gewählt hat.
    </p>


    <p><b> Der DAX </b></p>

    <p>
        An der Tafel steht der DAX Kurs bei Börsenschluss gestern.
        Wir betrachten, ob der DAX bis zum Ende des Experiments über diesen Wert <b> steigt </b> oder unter diesen Wert <b> fällt</b>.
        (Entscheidend ist der Kurs, den Google für den DAX Index angibt.)
    </p>

    <p><b> Die Urne </b></p>

    <p>
        In der Urne befinden sich 90 Bälle. 30 Bälle sind blau. 60 Bälle sind rot. Von den roten Bällen ist eine unbekannte Zahl gepunktet.
    </p>
    <p>
        Der Experimentleiter wird blind eine Kugel aus der Urne ziehen.
    </p>
    <p>
        In einer Runde betrachten wir, ob die gezogene Kugel <b> blau </b> ist oder <b> rot </b>.
        In diesem Fall kennen Sie die Verhältnisse. Es gibt 30 blaue Bälle und 60 rote Bälle (egal ob mit oder ohne Punkte).
    </p>
    <p>
        In einer anderen Runde betrachten wir, ob die gezogene Kugel <b> gepunktet </b> ist oder <b> einfarbig </b>.
        In diesem Fall kennen Sie die Verhältnisse nicht. Sie wissen nur, dass 60 der Bälle gepunktet sein können
        und 30 der Bälle nicht gepunktet sein können.
        <b> Die genaue Anzahl an gepunkteten Bällen ist ihnen nicht bekannt. </b> Sie kann zwischen 0 und 60 liegen.
    </p>
    </font>

  <p>
        <b>
            Ihre Antwort ist {% if player.test_event1 == "T" %} richtig. {% else %} falsch. {% endif %}
        </b>
        <p> Da 30 von 90 Bällen blau sind, ist jeder dritte Ball blau.</p>
        <p> Das Verhältnis der gepunkteten Bälle lässt sich nicht ableiten. Es könnten 0 von 90, 60 von 90 oder etwas dazwischen sein.
    </p>

    <hr>

    <p>
        <b>
            Ihre Antwort ist {% if player.test_event2 == "T" %} richtig. {% else %} falsch. {% endif %}
        </b>
        Sie wissen, dass mehr rote als blaue Bälle in der Urne sind. Für die gepunkteten Bälle können Sie sich nicht sicher sein.
        Es könnten mehr sein (z.B. 60 gepunktete und 30 einfarbige) oder weniger (z.B. 0 gepunktete und 90 einfarbige).
    </p>


    <p>
        <b>
            Ihre Antwort ist {% if player.test_event3 == "T" %} richtig. {% else %} falsch. {% endif %}
        </b>
        Es sind 60 rote und 30 blaue Bälle in der Urne. Es sind also doppelt so viele rote wie blaue Bälle in der Urne.
        Es können zwar alle roten Bälle gepunktet sein, dann wären doppelt so viel gepuntkete Bälle wie einfarbige Bälle in der Urne.
        Allerdings ist das nicht sicher. Es könnten auch weniger Bälle gepunktet sein.
    </p>

    {% next_button %}

{% endblock %}

