{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Testfragen: Ein Beispiel-Experiment
{% endblock %}

{% block content %}

    <p>
        Stellen Sie sich folgenden Situation vor:
        In der ausgewählten Frage geht es um 10 Euro und Sie haben gewählt, dass Sie 21 Punkte erhalten,
        falls der Dax steigt und
        21 Punkte falls der DAX nicht steigt.
    </p>


    <p>
        <img src="{% static 'mixing.png' %}"/>
    </p>


    <p>
        Stellen Sie sich weiterhin vor, dass der DAX nicht gestiegen ist und Sie am Ende des Experiments die
        Zahl 20 ziehen.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}

