{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Testfragen: Eine Frage
{% endblock %}

{% block content %}

    <p>
        Unten sehen Sie eine weitere Beispielfrage mit dem Verhältnis 7 zu 3.
        Wie zuvor gilt, je weiter links der Slider ist, desto mehr setzen Sie darauf, dass der Dax steigt.
        Je weiter rechts der Slider ist, desto mehr setzen Sie darauf, dass der Dax nicht steigt.
    </p>




    <table class="table">
        <tr>
            <td>
                    Falls
                    <b>
                        der DAX steigt,
                    </b>
                    erhalten Sie folgende Anzahl an Punkten:

            </td>
            <td>

            </td>
            <td>
                    Falls
                    <b>
                        der DAX nicht steigt,
                    </b>
                     erhalten Sie folgende Anzahl an Punkten:

            </td>
        </tr>
        <tr>
                <td><div id="val01" class="valBox_left">- Punkte</div></td>
            <td>  <div class="slider_table"> {% formfield player.example_slider3 %} </div> </td>
                <td><div id="val02" class="valBox_right">- Punkte</div><div class="clear"></div></td>
        </tr>
    </table>

    <p>
        <b>Setzen Sie den Slider nun so, dass Sie die gleiche Punktzahl bekommen unabhängig davon ob der DAX steigt oder nicht.
            Sie sollten 21 Punkte erhalten, falls der DAX steigt und 21 Punkte, falls der DAX nicht steigt.</b>
    </p>

    <p>
        Für diese Auswahl hätten Sie also eine Chance von 21%, die 10 Euro zu gewinnen, egal ob der DAX
        steigt oder nicht.

        Drücken Sie anschließend auf weiter.
    </p>

    {% next_button %}

{% endblock %}

{% block scripts %}
<script>
    //Initializing slider rates
    var rate0 = 3;

    console.log(rate0);

    //Sliders
    var slider0 = document.getElementById('id_example_slider3');

    slider0.oninput = function(){
        var e_tickets = parseFloat((100-this.value)*rate0/100).toFixed(0);
        var c_tickets = parseFloat(this.value*(rate0c/100)).toFixed(0);

        if(e_tickets == "0") {
            document.getElementById('val01').innerHTML =  "... erhalten Sie <b> nichts</b>.";}
        else if (e_tickets == "100") {
            document.getElementById('val01').innerHTML =  "... erhalten Sie " + prize + " <b> sicher</b>.";}
        else {
            document.getElementById('val01').innerHTML = "... erhalten Sie " + prize + " für die Zahlen von <b> 1 bis " + e_tickets +"</b>.";
        }


        if(c_tickets == "0") {
            document.getElementById('val02').innerHTML =  "... erhalten Sie <b> nichts</b>.";}
        else if (c_tickets == "100") {
            document.getElementById('val02').innerHTML = "... erhalten Sie " + prize + " <b> sicher</b>.";}
        else {
            document.getElementById('val02').innerHTML = "... erhalten Sie " + prize + " für die Zahlen von <b> 1 bis " + c_tickets +"</b>.";
        }

        if(e_tickets == c_tickets){
            document.getElementById('val_mix').innerHTML = {{M_text|json}}
        }
        else if (parseFloat(e_tickets) == parseFloat(rate0)) {
            document.getElementById('val_mix').innerHTML = {{E_text_strong|json}}
        }
        else if (c_tickets == parseFloat(rate0c)){
            document.getElementById('val_mix').innerHTML = {{C_text_strong|json}}
        }
        else if (parseFloat(e_tickets) > parseFloat(c_tickets)) {
            document.getElementById('val_mix').innerHTML = {{E_text|json}}
        }
        else if (parseFloat(e_tickets) < parseFloat(c_tickets)){
            document.getElementById('val_mix').innerHTML = {{C_text|json}}
        }

        slider0.className = 'form-control active_slider';
        $('#id_checkslider').val(1);

        $('.otree-btn-next').show();

    }
</script>
{% endblock %}


{% block app_styles %}
    <style>
        #titleText{
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .otree-timer {
                display: none;
            }

        #titleText{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .fieldWrapper{
        margin-left: 100px;
        }
         .divBox{
            margin-top: 40px;
        }
         .upperBox{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .clear{
            clear: both;
        }
        #leftText_short{
            display:inline-block;
            width: 40%;
            float: left;
        }
        #rightText_short{
            display:inline-block;
            width: 40%;
            float: right;
        }
        #leftText{
            display:inline-block;
            width: 40%;
            float: left;
        }
        #rightText{
            display:inline-block;
            width: 40%;
            float: right;
        }


        #leftText_slider{
            width: 25%;
            float: left;
        }
        #rightText_slider{
            width: 25%;
            float: right;
        }


        #wrap_slider{
        float: left;
        position: relative;
        left: 50%;
        }

        #val01{
            margin: auto;
        }

        #val02{
           margin: auto;
        }

        .table{
            text-align:center
        }

        td:nth-child(1) {
          width: 25%;
          }
        td:nth-child(2) {
            width: 50%;
        }
        td:nth-child(3) {
          width: 25%;
         }


        .slider_table{
            width: 100%;
            position: relative;
            left: 10%;
        }

        #sliderBox{
            float: left;
            width: 70%;
            margin: 5px;
        }
        .clear{
            clear: both;
        }
        input[type="range"].form-control::-webkit-slider-thumb {
            visibility: hidden;
        }
        input[type="range"].form-control::-moz-range-thumb {
            visibility: hidden;
        }
        input[type="range"].form-control::-ms-thumb {
            visibility: hidden;
        }
        input[type="range"].active_slider::-webkit-slider-thumb {
            visibility: visible;
        }
        input[type="range"].active_slider::-moz-range-thumb {
            visibility: visible;
        }
        input[type="range"].active_slider::-ms-thumb {
            visibility: visible;
        }
    </style>
{% endblock %}
