{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Auswertung der Testfragen
{% endblock %}

{% block content %}
<p>
    Sie haben {{ player.mistakes }} Fragen falsch beantwortet.
</p>

<p>
    {% if player.mistakes <= 4 %}
        Sie können am Experiment teilnehmen.

    {% else %}
        Leider können Sie nicht am weiteren Experiment teilnehmen.
        Bitte warten Sie kurz bis Sie nach vorne gebeten werden um Ihre Teilnahmevergütung abzuholen.
    {% endif %}
</p>


   {% next_button %}

{% endblock %}




