{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Testfragen: Gewinne
{% endblock %}

{% block content %}

    <p>
        Stellen Sie sich folgenden Ausgang des Experiments vor: Sie haben drei Fragen beantwortet.
        In der ersten Frage ging es um 10 Euro.
        In der zweiten Frage ging es um 20 Euro.
        In der dritten Frage ging es um 10 Euro.
    </p>

    <p>
        Stellen Sie sich außerdem vor, dass im Umschlag steht, dass die zweite Frage ausgewählt wurde.
    </p>
    {% formfields %}

    {% next_button %}

{% endblock %}

