{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Herzlich Willkommen
{% endblock %}

{% block content %}


<p>
    Wir möchten daran erinnern, dass Komunikation verboten ist.
    Sollten Sie während des Experiments das Handy benutzen oder sprechen, müssen wir Sie leider bitten den
    Raum zu verlassen. In diesem Fall, können wir Ihnen keine Vergütung zahlen.
</p>

<p>
    Sie haben für jede Runde ein fixes Zeitlimit. Falls es knapp wird, sehen Sie den Timer.
    Die Zeit ist großzügig bemessen, beantworten Sie die Fragen also in Ruhe.
    Wir warten immer bis die Zeit abgelaufen ist, bevor es weitergeht.
    Es hilft also nicht schneller als die anderen zu sein.
</p>

<p>
    Sollten Sie während des Experiments Fragen oder Probleme haben, heben Sie bitte die Hand und warten bis
    der Experimentleiter zu Ihnen kommt.
</p>

<p>
    Bitte warten Sie.
</p>


{% endblock %}
