{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Anleitung: Dilemma
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
        In dieser Runde werden Sie mit einem zufälligen anderen Teilnehmer gepaart.
        Jeder von ihnen wählt geheim ob er mit dem anderen Teilnehmer zusammenarbeiten möchte oder den Alleingang bevorzugt.
        Ihre Auszahlung wird in Abhängigkeit Ihrer Entscheidungen wie unten berechnet:
    </p>

    <p>
        Wenn Sie und der andere Teilnehmer Zusammenarbeit wählen, bekommen beide 2 Euro.
        Wenn Sie und der andere Teilnehmer Alleingang wählen, bekommen beide 1 Euro.
    </p>

    <p>
        Wenn nur einer von Ihnen Alleingang wählt, der andere aber Zusammenarbeit wählt, bekommt der Spieler der Alleingang wählt 3 Euro und der Spieler der vergeblich zusammenarbeiten wollte 0 Euro.
    </p>

</div>
</div>
